/* type selector */
body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

/* class selector */

/* method one: to share styling */
/* .btn-danger,
.btn-warning,
.btn-info {
    font-size: 34px;
    text-transform: uppercase;
}

.btn-danger {
  background-color: red;
}

.btn-warning {
  background-color: orange;
}

.btn-info {
  background-color: lightblue;
} */


/* method 2: share class to apply common styling */

.btn {
    font-size: 30px;
    text-transform: capitalize;
}

.btn-danger {
    background-color: red;
}

.btn-warning {
    background-color: yellow;
}

.btn-info {
    background-color: blue;
    color: white;
}