.block-block {
    background-color: yellow;
}

/* inline element wrapping other inline elements */
.inline-inline {
    background-color: lightgreen;
}

.block-inline {
    background-color: red;
}

.inline-block {
    /* display: block; */
    background-color: lightblue;
}