body {
  background-color: lightgray;
}

h1 {
    background-color: red;
    display: inline;
}

p {
    background-color: orange;
    /* display: block; */
    display: inline;
}

a {
    background-color: orange;
    /* display: inline; this is default display type*/
    display: block;
}